<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create new posts</title>
  </head>
  <body>
    <form method="post" action="/posts">
      Name:
      <input placeholder="Enter your name" name="username" /><br />

      <br />
      Post:
      <textarea placeholder="Enter your content" name="content"></textarea
      ><br />
      <br />
      <button>Submit post</button>
    </form>
  </body>
</html>
